Source: lpd-pdfif
Section: utils
Priority: optional
Maintainer: Patrik Schindler <poc@pocnet.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Package: lpd-pdfif
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, file, ghostscript, pdftk
Description: Printerfilter for use with lpr, for creating PDFs.
 This is a printer filter (if) to convert jobs to PDF, which get moved to the
 printing user's home directory, if sufficent rights permit that.
